<div class="row">
  <div class="col-md-12">
  	<form role="form">
	  <div class="form-group">
	    <label for="recipients">Recipients</label>
	    <input type="text" data-role="tagsinput" class="form-control" id="recipients" placeholder="Enter recipients">
	  </div>
	  <div class="form-group">
	  	<label for="message">Message</label>
	    <textarea class="form-control" id="message" placeholder="Message up to 140 characters" ng-model="message"></textarea>
	  </div>
	  <button type="submit" class="btn btn-default" ng-click='send_message()'>Send</button>
	</form>
  </div>
</div>