$brand-primary: #F37726; // orange
$brand-secondary: #2b4178; // blue
$brand-green: #8DC63F;
$brand-dark-gray: #acacac;
$brand-light-gray: #dbdbdb;

$body-bg: #f3f4f4;
$text-color: #403F40;
$link-color: $brand-primary;
$headings-color: $text-color;

$border-radius-base: 2px;
$btn-default-color: #ffffff;
$btn-default-bg: #7C7B7B;
$btn-default-border: $btn-default-bg;

$btn-primary-color: #ffffff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
$btn-secondary-bg: $brand-secondary;
$btn-secondary-border: $brand-secondary;

span > button{
	margin-left: 8px;
}

form > span.submit-container{
	float: right;
}

#angularApp{
	margin-top: 100px;
}

body{
	background-color: #FA6900;
}

textarea{
	font-family: 'Gloria Hallelujah', cursive;
}

.panel-heading{
	text-align: center;
	font-family: 'Lobster', cursive;
}

.panel{
	background-color: #E0E4CC;
}

label{
	font-family: 'Lato', sans-serif;
}

#sending_gif{
	position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -115px; /* -1 * image width / 2 */
  margin-top: -115px;  /* -1 * image height / 2 */
  display: none;
}

.bootstrap-tagsinput{
  width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 400px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #dfdfdf;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
