<div id="angularApp" ng-app="pageApp"  ng-controller="PageCtrl"  >
	<div class="container-fluid">
		<div class="col-md-12 col-sm-12"> 
			<div class="panel panel-default small-margin">
				<div class="panel-heading">
					<h1>Share a message with your friends!</h1>
				</div>
				<div class="panel-body">
					<div class="row">
					  <div class="col-md-12">
					  	<form role="form">
						  <div class="form-group">
						    <label for="recipients">Recipients</label>
						    <input type="text" data-role="tagsinput" class="form-control" id="recipients" placeholder="Enter recipients" ng-model="recipients">
						  </div>
						  <div class="form-group">
						  	<label for="message">Message</label>
						    <textarea class="form-control" id="message" placeholder="Message up to 140 characters" ng-model="message" maxlength="140"></textarea>
						  </div>
						  <span class="submit-container"><i class="fa fa-clock-o"></i><b>{{140-message.length}}</b><button class="btn btn-warning" ng-click='clear()'><i class="fa fa-eraser"></i> Clear</button><button type="submit" class="btn btn-success" ng-click='send_message()'><i class="fa fa-paper-plane"></i>  Send</button></span>
						</form>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img id="sending_gif" src="assets/sending-e8a59e919229b9bfe585332eecdafa5a.gif" height="250">
</div>







